.header{
width: auto;
height: 60px;
background-color: black;
color: aliceblue;
font-size: 20px;
}
div{
    text-align:left
}
body{
    text-align:left
}
.中央{
    background-color: blue;
    width: auto;
    height: 999999999999px;
    font-size: 100px;
}